* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}


/* General classes */
.primary {
  color: #F7561D;
}

.btn {
  border: none;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  background: #F7561D;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: -0.03em;
  padding: 15px 22px;
  border-radius: 10px;
}


/* Splash Screen */
.splash-screen {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  transition: opacity 2s;
}

.splash-logo {
  display: block;
}

.main {
  /* !!!! DON'T FORGET TO CHANGE OPACITY TO 0 AND TO UNDO THE QUOTING !!!! */
  opacity: 1;
  transition: opacity 2.5s 1.5s;
}

.menu-list {  
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-item {
  display: flex;
  align-items: center;
}

.menu-link {
  text-decoration: none;
}


/* Top Nav Bar */
.top-nav {
  position: fixed;
  z-index: 4;
  top: 0;
  width: 100vw;
  height: 90px;
  background: #fff;
  border-bottom: 1px solid #E9E9E9;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-wrapper {
  width: 111px;
  height: 100%;
  border-right: 1px solid #E9E9E9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigator {
  color: #505050;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: -0.03em;
}

.navigator-prefix {
  color: #9B9B9B;
}


/* Mobile Menu */
.mobile-menu {
  border-left: 1px solid #E9E9E9;
  padding: 50px 41px 23px 31px;
  cursor: pointer;
}

.mobile-menu-toggler {  
  color: #BFBFBF;
  font-size: 13px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: -0.015em;
  margin: 0;
  position: relative;
}

.mobile-menu-toggler::after {
  content: '•';
  display: block;
  position: absolute;
  top: -17px;
  left: 10px;
  color: #606060;
  font-weight: 700;
  font-size: 46px;  
  letter-spacing: 0.155em;
}

.top-bar-for-mobile-menu {
  display: none;
  justify-content: space-between;
  z-index: 7;
  width: 100vw;
  height: 90px;
  background: #13324A;
  border-bottom: 1px solid #225175;
  position: absolute;
  top: 0;
}

.logo-mobile-bar {
  padding: 17px 17px 15px 17px;
}

.close-menu {  
  padding: 50px 40px 23px 31px;
  cursor: pointer;
}

.mobile-menu-close {
  color: #BFBFBF;
  font-size: 13px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: -0.015em;
  margin: 0;
  position: relative;
}

.mobile-menu-close::after {
  content: '';
  display: block;
  position: absolute;
  top: -18px;
  left: 11px;
  width: 16px;
  height: 16px;
  background: url('../media/close.png');
}

.mobile-menu-lamp {
  display: none;
  width: 113px;
  height: 293px;
  position: absolute;
  top: 0;
  left: 60px;
  background: url('../media/Lamp_Cover_dark.png');
}

.mobile-menu-container {
  position: absolute;
  top: -100vh;
  left: 0;
  z-index: 6;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 90px 37px 0;
  background: #13324A;
  color: #1E68A0;
  transition: top 0.5s;
}

.mobile-menu-title {
  font-size: 50px;
  letter-spacing: -0.015em;
  margin: 20px 0 0 -11px;
}

.mobile-menu-subtitle {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.015em;
  margin: 14px 0 0 0;
}

.mobile-menu-item {
  margin: 0 -37px;
  padding-left: 37px;
  /* height: 72px; */
  border-bottom: 1px solid #225175;
}

.mobile-menu-link {
  width: 100vw;
  color: #fff;
  font-size: 23px;
  letter-spacing: -0.04em;  
  margin: 0 -37px;
  padding: 22px 0 22px 37px;
}

/* Fix for extra small screens */
@media( max-height: 650px) {
  .mobile-menu-link {
    padding-top: 18px;
    padding-bottom: 18px;
  }
}

/* Fix for iPhone 5/SE */
@media( max-height: 570px) {
  .mobile-menu-link {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.mobile-menu-subbar {
  display: none;
  width: 215px;
  height: 16px;
  background: #1F415A;
  border-radius: 35px;
}

.agreements {
  margin-top: auto;
}

.agreements-link {
  color: #2D6C9D;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 700;
  line-height: 217.69%;
  letter-spacing: 0.29em;
}

.info {
  width: 251px;
  color: #1E68A0;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: -0.015em;
  margin-bottom: 23px;
}


/* Hero */
.hero {
  height: 100vh;
  padding-top: 90px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.hero-wrapper {
  text-align: center;
  margin-top: 5.22vh;
}

.hero-lamp {
  display: block;
  margin: 0 auto;
  width: 92px;
  height: 134px;
  background: url('../media/lamp_mobile.png') center center;
}

.hero-title {
  width: 253px;
  margin: 0 auto 2.09vh;
  font-size: 38px;
  line-height: 101.5%;
  letter-spacing: 0.015em;
}

.hero-copy {
  color: #ACACAC;
  width: 273px;
  margin: 0 auto 7.015vh;
  font-size: 16px;
  line-height: 131.5%;
  letter-spacing: 0.015em;
}

.cta-btn {
  display: inline-flex;
  align-items: center;
  padding: 7.5px 20px;
}

.cta-btn-img {
  display: inline-block;
  width: 37px;
  height: 37px;
  background: url('../media/start-button_mobile.png');
  margin-left: 22px;
}

.scroll-wrapper {
  display: none;
}

.bot-bar {
  display: none;
}

@media (min-width: 576px) { 
  
}

@media (min-width: 768px) {
  .navigator {
    display: flex;
    flex-direction: column;
    margin-left: 27px;
    margin-right: auto;
  }

  .navigator-prefix {
    margin-bottom: 5px;
  }

  /* Mobile menu */
  .logo-mobile-bar {
    border-right: 1px solid #1E68A0;
  }

  .mobile-menu-lamp {
    display: block;
  }

  .mobile-menu-container {
    align-items: center;
    justify-content: space-between;
    text-align: center;
  }

  .mobile-menu-title {
    font-size: 65px;
    line-height: 76px;
    letter-spacing: -0.015em;
    margin-top: 64px;
    margin-left: 0;
  }

  .mobile-menu-subtitle {
    margin-top: 24px;
  }

  .mobile-menu-item {
    border: none;
    margin: 0;
    padding: 0;
  }

  .mobile-menu-link {
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 0.03em;
    margin: 0;
    padding: 22px 0;
  }

  .mobile-menu-subbar {
    display: block;
  }

  .agreements {
    margin: 0;
  }

  .agreements-item {
    display: block;
    text-align: center;
  }

  .agreements-link {
    font-size: 14px;
    letter-spacing: 0.375em;
  }

  .info {
    width: 296px;
    font-size: 13px;
    line-height: 15px;
    margin-bottom: 50px;
  }


  /* Hero */  
  .hero-lamp {
    width: 113px;
    height: 205px;
    background: url('../media/Lamp_Cover.png');
    position: absolute;
    top: 89px;
    left: 59px;
  }

  .bg {
    position: absolute;
    z-index: -3;
    width: 1300px;
    height: 1327px;
    left: 459px;
    top: -87px;
    background: linear-gradient(147.73deg, #FF7A00 1.1%, #EF3636 46.74%);
    box-shadow: 0px 4px 56px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    /* background: url('../media/Cover-Element.png'); */
    /* overflow: hidden; */
  }

  .bg::before {
    content: '';
    display: block;
    width: 49px;
    height: 49px;
    background: url('../media/Polygon-1.png');
    position: absolute;
    top: 250px;
    left: -30px;
  }

  .bg::after {
    content: '';
    display: block;
    width: 56px;
    height: 57px;
    background: url('../media/Polygon-2.png');
    position: absolute;
    top: 650px;
    left: 190px;
  }
  
  .check {
    display: block;
    width: 512px;
    height: 512px;
    background: url('../media/check.png') no-repeat;
    position: absolute;
    z-index: -1;
    top: 30vh;
    left: 0;
  }

  .hero {

  }

  .hero-wrapper {
    text-align: left;
    margin-top: 25vh;
    margin-left: 55px;
    position: relative;
  }

  .hero-title {
    width: 428px;
    margin-left: 0;
    margin-bottom: 24px;
    font-size: 62px;
    line-height: 108.5%;
    letter-spacing: 0.015em;
  }

  .hero-copy {
    width: 376px;
    margin-left: 0;
    margin-bottom: 35px;
    font-size: 22px;
  }

  .cta-btn {
    font-size: 26px;
    font-weight: 400;
    padding: 12px 23px;
  }

  .cta-btn-img {
    width: 51px;
    height: 51px;
    background: url('../media/start-button.png');
    margin-left: 24px;
  }

  .scroll-wrapper {
    display: flex;
    align-items: center;
    margin: auto 0 150px 55px;
  }

  .scroll {
    font-weight: bold;
    font-size: 14px;
    line-height: 131.5%;
    letter-spacing: -0.005em;
    color: #A5A5A5;
    text-transform: uppercase;
  }

  .arrow-down {
    display: block;
    width: 20px;
    height: 20px;
    background: url('../media/down-arrow.png');
    margin: 0 11px;
  }

  .scroll-counter {
    font-weight: bold;
    font-size: 14px;
    line-height: 131.5%;
    letter-spacing: -0.005em;
  }

  .bot-bar {
    width: 100vw;
    height: 78px;
    background: #fff;
    border-top: 1px solid #E9E9E9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0px;
    z-index: 4;
  }

  .bot-navigator {
    width: 144px;
    height: 100%;
    border-right: 1px solid #E9E9E9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.15em;
  }

  .bot-bar .menu-list {
    height: 77px;
    display: flex;
  }

  .bot-bar .menu-link {    
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 12.5px;
  }

  .bot-agreements {
    font-weight: bold;
    font-size: 10px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    margin: 0 auto 0 18.5px;
  }

  .bot-agreements .manu-item {
    /* height: 100%; */
  }

  .bot-agreements .menu-link {    
    color: #A5A5A5;
  }

  .socials {
    margin-right: 30px;
  }
}

@media (min-width: 992px) { 

}

@media (min-width: 1200px) {

}