* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}


/* General classes */
.primary {
  color: #F7561D;
}

.btn {
  border: none;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  background: #F7561D;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: -0.03em;
  padding: 15px 22px;
  border-radius: 10px;
}


/* Splash Screen */
.splash-screen {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  transition: opacity 2s;
}

.splash-logo {
  display: block;
}

.main {
  /* !!!! DON'T FORGET TO CHANGE OPACITY TO 0 AND TO UNDO THE QUOTING !!!! */
  opacity: 1;
  transition: opacity 2.5s 1.5s;
}

.menu-list {  
  list-style: none;
  padding: 0;
}

.menu-item {
  display: flex;
  align-items: center;
}

.menu-link {
  text-decoration: none;
}


/* Top Nav Bar */
.top-nav {
  position: fixed;
  z-index: 4;
  top: 0;
  width: 100vw;
  height: 90px;
  background: #fff;
  border-bottom: 1px solid #E9E9E9;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-wrapper {
  width: 111px;
  height: 100%;
  border-right: 1px solid #E9E9E9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigator {
  color: #505050;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: -0.03em;
}

.navigator-prefix {
  color: #9B9B9B;
}


/* Mobile Menu */
.mobile-menu {
  border-left: 1px solid #E9E9E9;
  padding: 50px 41px 23px 31px;
  cursor: pointer;
}

.mobile-menu-toggler {  
  color: #BFBFBF;
  font-size: 13px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: -0.015em;
  margin: 0;
  position: relative;
}

.mobile-menu-toggler::after {
  content: '•';
  display: block;
  position: absolute;
  top: -17px;
  left: 10px;
  color: #606060;
  font-weight: 700;
  font-size: 46px;  
  letter-spacing: 0.155em;
}

.top-bar-for-mobile-menu {
  display: none;
  justify-content: space-between;
  position: relative;
  z-index: 4;
  width: 100vw;
  height: 90px;
  background: #13324A;
  border-bottom: 1px solid #225175;
  position: absolute;
}

.logo-mobile-bar {
  padding: 17px 0 0 17px;
}

.close-menu {  
  padding: 50px 40px 23px 31px;
  cursor: pointer;
}

.mobile-menu-close {
  color: #BFBFBF;
  font-size: 13px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: -0.015em;
  margin: 0;
  position: relative;
}

.mobile-menu-close::after {
  content: '';
  display: block;
  position: absolute;
  top: -18px;
  left: 11px;
  width: 16px;
  height: 16px;
  background: url('../media/close.png');
}

.mobile-menu-wrapper {
  position: absolute;
  top: -100vh;
  left: 0;
  z-index: 3;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 90px 37px 0;
  background: #13324A;
  color: #1E68A0;
  transition: top 0.5s;
}

.mobile-menu-title {
  font-size: 50px;
  letter-spacing: -0.015em;
  margin: 20px 0 0 -11px;
}

.mobile-menu-subtitle {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.015em;
  margin: 14px 0 0 0;
}

.mobile-menu-item {
  margin: 0 -37px;
  padding-left: 37px;
  /* height: 72px; */
  border-bottom: 1px solid #225175;
}

.mobile-menu-link {
  width: 100vw;
  color: #fff;
  font-size: 23px;
  letter-spacing: -0.04em;  
  margin: 0 -37px;
  padding: 22px 0 22px 37px;
}

.mobile-menu-item:first-of-type {
  margin-top: -20px;
}

.agreements-wrapper {
  position: absolute;
  bottom: 0;
}

.agreements-link {
  color: #2D6C9D;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 700;
  line-height: 217.69%;
  letter-spacing: 0.29em;
}

.info {
  width: 251px;
  color: #1E68A0;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: -0.015em;
  margin-bottom: 23px;
}


/* Hero */
.hero {
  height: 100vh;
  padding-top: 90px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.hero-wrapper {
  text-align: center;
  margin-top: 5.22vh;
}

.hero-lamp {
  display: block;
  margin: 0 auto;
  width: 92px;
  height: 134px;
  background: url('../media/lamp_mobile.png') center center;
}

.hero-title {
  width: 253px;
  margin: 0 auto 2.09vh;
  font-size: 38px;
  line-height: 101.5%;
  letter-spacing: 0.015em;
}

.hero-copy {
  color: #ACACAC;
  width: 273px;
  margin: 0 auto 7.015vh;
  font-size: 16px;
  line-height: 131.5%;
  letter-spacing: 0.015em;
}

.cta-btn {
  display: inline-flex;
  align-items: center;
  padding: 7.5px 20px;
}

.cta-btn img {
  /* display: block; */
  margin-left: 22px;
}

.ad-container {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.ad {
  width: 216px;
  height: 93px;
  background: #eee;
  margin: 0 auto 4.6vh;  
}